.formuulafrio{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.btn{
    width: 30%;
    border-radius: 45%;
    height: 45px;
    color: white;
    cursor: pointer;
    background: #029c179a;
}
.btn:hover{
    background:#03f0229a ;
}
.formuulafrio {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .formuulafrio div {
    margin-bottom: 15px;
  }
  
  .formuulafrio label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .formuulafrio input[type="text"],
  .formuulafrio input[type="number"],
  .formuulafrio select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .formuulafrio input[type="file"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .formuulafrio button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .formuulafrio button:hover {
    background-color: #0056b3;
  }
  